@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --color-main: #40CEDB;
  --color-text: #555;
  --color-bg: rgba(255, 250, 225, 1);
}

html, body, div {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 2em 0;
  padding: 0;
}

.nav {
  display: none;
  position: absolute;
  margin: 0;
  width: 80vw;
  height: 100vh;
  background: #FFF;
  border-right: solid var(--color-bg);
  z-index: 1;
}

.nav-button {
  position: fixed;
  float: left;
  top: 0.5em;
  left: 0.5em;
  cursor: pointer;
  z-index: 2;
}

.nav-toggle, .nav-toggle-mid {
  display: block;
  width: 1em;
  height: 0.03em;
  background-color: #000;
  z-index: -1;
}

.nav-toggle-mid {
  margin: 0.2em 0;
}

.nav-item {
  display: block;
  position: relative;
  padding: 0.5em;
}

.nav-item:before, 
.nav-item:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 0.02em;
  margin-top: 0.8em;
  background: var(--color-text);
  z-index: -1;
}

.nav-item:before {
  left: 0;
}

.nav-item:after {
  right: 0;
  transition: width 0.3s;
}

.nav-item:hover:before {
  width: 100%;
  transition: width 0.5s;
}

.nav-item:hover:after {
  background: transparent;
  width: 80%;
  transition: 0s;
}

.left-col {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.profile-picture {
  position: absolute; 
  left: 50%;
  margin-left: -3.6em;
  top: 20vh;
  width: 6em;
  height: 6em;
  background-image: url('profile.png');
  background-position: 0 -600px;
  border: 0.6em solid var(--color-bg);
  border-radius: 50%;
}

.title {
  position: absolute;
  left: 50%;
  margin-left: 15vw;
  margin-top: 60vh;
  width: 70vw;
  height: 24vh;
  right: 0;
  left: 0;
  font-size: 2rem;
  color: var(--color-text);
  text-align: center;
}

.title-name {
  text-transform: uppercase;
}

.title-desc {
  font-size: 1.5rem;
}

.right-col {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100vh;
}

.content {
  padding: 0.5em 2em;
  font-size: 1rem;
}
