.footer {
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: var(--color-background);
  z-index: 100;
}

.footer p {
  letter-spacing: 1px;
}

.footer span {
  letter-spacing: 2px;
}