@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --color-title: #000;
  --color-primary: #36ACB6;
  --color-secondary: #489DA5;
  --color-slide: #FFF;
  --color-nav: #FFF;
  --color-nav-mobile: #FFFB;
  --color-background: #E5E5E5;
  --color-scroll-track: #E5E5E5;
  --color-scroll-thumb: #36ACB64D;
  --color-scroll-thumb-hover: #36ACB64D;
  --font-family: 'Quicksand', sans-serif;
  --font-family-accent: 'Poppins', sans-serif;
}

html, body {
  margin: 0 0;
  padding: 0 0;
  display: block;
  width: 100vw;
  font-family: var(--font-family);
  overflow-x: hidden;
}

body {
  background-color: var(--color-background);
  overscroll-behavior: contain;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-scroll-track);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scroll-thumb);
  opacity: 0.3;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scroll-thumb-hover);
}

h1, h2, h3, h4, h5, h6, p, span, ul, ol, li, th, td {
  padding: 0 0;
  margin: 0 0;
}

a, a:link, a:visited, a:hover, a:active {
  color: #000;
  text-decoration: none !important;
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.center-inline {
  justify-content: center;
}

.center-perpendicular {
  align-items: center;
}

.padding-top {
  padding-top: 1rem;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.accent {
  font-family: var(--font-family-accent);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.dim {
  opacity: 0.3;
}

/* content */

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  background-color: var(--color-slide);
  transition: all 1s ease;
  z-index: 1000;
}

.slide.active {
  right: 0;
}

.name {
  width: 100%;
  height: 30px;
  color: var(--color-title);
  transition: all 1s ease-in;
  overflow: hidden;
  z-index: 1001;
}

.name span {
  display: inline-block;
  font-size: 2rem;
  opacity: 0;
  transform: translateY(-100px);
  transition: all 1s ease-in-out;
}

.name span.active {
  opacity: 1;
  transform: translateY(0px);
}

.name span.after {
  color: var(--color-background);
}

/* content */

.content {
  width: 100%;
  margin-top: 70px;
  min-height: calc(100vh - 140px);
  background-color: var(--color-background);
}

/* contact */

.contact {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  color: #FFF;
  cursor: pointer;
  transition: all 0.3s linear;
  z-index: -1;
}

.contact.active {
  opacity: 1;
  z-index: 11;
}

@media screen and (min-width: 0px) {
  html, body {
    font-size: 12px;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    display: block;
    font-size: 1rem;
  }
  h2, h3 {
    font-weight: unset;
    text-align: center;
  }
}

@media screen and (min-width: 256px) {
  .name span {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 500px) {
  html, body {
    font-size: 14px;
  }
}

@media screen and (min-width: 800px) {
  html, body {
    font-size: 16px;
    overflow-y: scroll;
  }
  h2, h3 {
    text-align: unset;
  }
}