:root {
  --entry-size: 1;
}

#portfolio {
  display: none;
  flex-wrap: wrap;
  margin-bottom: 70px;
  transition: all 1s linear;
  opacity: 0;
}

#portfolio.active {
  opacity: 1;
}

#portfolio.notransition {
  transition: none !important;
}

.entry {
  position: relative;
  overflow: hidden;
  transition: all 0.8s ease-in;
  opacity: 0;
}

.entry a {
  position: relative;
  width: 100% !important;
  height: 100%;
  text-decoration: none;
  overflow: hidden;
}

.entry img {
  width: 120%;
  transition: all 0.4s ease-out;
}

.entry-info-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease-out;
  color: #FFF;
}

.entry-info {
  position: absolute;
  bottom: 10px;
  transition: all 0.4s ease-out;
}

.entry-desc::after {
  position: absolute;
  content: '';
  width: 40px;
  left: calc(50% - 20px);
  top: 2rem;
  border-top: solid 2px #FFF;
  padding-top: 5px;
}

.entry-desc {
  width: 100%;
  height: 100%;
  text-align: center;
}

.entry:hover img {
  opacity: 1;
  transform: translateY(10px);
}

.entry:hover .entry-info-wrap {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.entry:hover .entry-info {
  bottom: 30px;
}

@media screen and (min-width: 0px) {
  :root {
    --entry-size: 1;
  }
  .entry {
    width: calc(100vw / var(--entry-size));
    height: calc(100vw / var(--entry-size) / 16 * 9);
  }
}

@media screen and (min-width: 600px) {
  :root {
    --entry-size: 2;
  }
}

@media screen and (min-width: 800px) {
  :root {
    --entry-size: 2;
  }
  .entry {
    width: calc((100vw - 10px) / var(--entry-size));
    height: calc((100vw - 10px) / var(--entry-size) / 16 * 9);
  }
}

@media screen and (min-width: 900px) {
  :root {
    --entry-size: 3;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --entry-size: 4;
  }
}

@media screen and (min-width: 1500px) {
  :root {
    --entry-size: 5;
  }
}